{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="msg">
    <div class="user-image">
        <img src="{% static 'imgs/flower1.jpeg' %}" alt="">
    </div>
    <div class="user-name">
        <h2>
            Gregory Kimaru
        </h2>
    </div>
    <div class="msg-summary">
        <p class="p-sum">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quam quisquam laudantium assumenda temporibus, sed dolore, sit eum sunt esse nisi culpa quaerat! Molestiae dignissimos officia, dolorem ipsam debitis fugit.
        </p>
    </div>
</div>
<div class="msg">
    <div class="user-image">
        <img src="{% static 'imgs/flower1.jpeg' %}" alt="">
    </div>
    <div class="user-name">
        <h2>
            Gregory Kimaru
        </h2>
    </div>
    <div class="msg-summary">
        <p class="p-sum">
            Lorem lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quam quisquam laudantium assumenda temporibus, sed dolore, sit eum sunt esse nisi culpa quaerat! Molestiae dignissimos officia, dolorem ipsam debitis fugit.
        </p>
    </div>
</div>
<div class="msg">
    <div class="user-image">
        <img src="{% static 'imgs/flower1.jpeg' %}" alt="">
    </div>
    <div class="user-name">
        <h2>
            Gregory Kimaru
        </h2>
    </div>
    <div class="msg-summary">
        <p class="p-sum">
            Lorem lorem lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quam quisquam laudantium assumenda temporibus, sed dolore, sit eum sunt esse nisi culpa quaerat! Molestiae dignissimos officia, dolorem ipsam debitis fugit.
        </p>
    </div>
</div>
{% endblock %}